extends ./base.jade

block content
  header.page-header.sticky
    .page-header-left.page-header-link
      a(href='/')
        span.angle &lsaquo;
        |  home
    h1.page-header-center
      a(href='/work.json', title='View this page as JSON') Work
    .page-header-right.page-header-link
      a(href='http://github.com/yoshokatana', title='Github')
        | Github 
        span.angle &rsaquo;
  section.light.project-list
    each p in projects
      article(id=p.title, class='project')
        img(src=p.img, alt='Project Screenshot')
        .project-box
            h2= p.title
            p= p.desc
            if p.github
              p: a(href=p.github, title='View this project on Github') View this project on Github &rsaquo;
            else if p.link
              p: a(href=p.link, title=p.title) View this project &rsaquo;
  include ./contact.jade